<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="test.Logintest" enabled="false">
    <classes>
      <class name="test.Logintest"/>
    </classes>
    
     </test> 
   <test name="test.TextBox_test" enabled="false">
    <classes>
      <class name="test.TextBox_test"/>
    </classes>
    
  </test> 
   <test name="test.CheckBox_test" enabled="false">
   <parameter name="env" value="stagingurl"></parameter>
    <classes>
      <class name="test.CheckBox_test"/>
    </classes>
  </test> 
    <test name="test.RadioButton_test" enabled="false">
    <classes>
      <class name="test.RadioButton_test"/>
    </classes>
  </test> 
   <test name="test.WebTables_test" enabled="false">
  <parameter name="env" value="stagingurl"></parameter>
    <classes>
      <class name="test.WebTables_test"/>
    </classes>
  </test> 
   <test name="test.Button_test" enabled="false">
    <parameter name="env" value="stagingurl"></parameter>
    
    <classes>
      <class name="test.Button_test"/>
    </classes>
    
    </test> 
   <test name="test.Alert_test" enabled="false">
    <parameter name="env" value="stagingurl"></parameter>
    
    <classes>
      <class name="test.Alert_test"/>
    </classes>
     </test> 
   <test name="test.upload_download_test" enabled="false">
    <parameter name="env" value="stagingurl"></parameter>
    
    <classes>
      <class name="test.upload_download_test"/>
    </classes>
    
     </test> 
   <test name="test.reverse_string_test" enabled="false">
   
    
    <classes>
      <class name="test.reverse_string_test"/>
    </classes>
     </test> 
   <test name="test.browserwindows_test" enabled="false">
    <parameter name="env" value="stagingurl"></parameter>
    
    <classes>
      <class name="test.browserwindows_test"/>
    </classes>
    
     </test> 
   <test name="test.Frame_test" enabled="false">
    <parameter name="env" value="stagingurl"></parameter>
    
    <classes>
      <class name="test.Frame_test"/>
    </classes>
    </test> 
   <test name="test.SelectMenu_test" enabled="true">
   <parameter name="env" value="stagingurl"></parameter>
    <classes>
      <class name="test.SelectMenu_test"/>
    </classes>
  </test> 
   <test name="test.mousehower_click_test" enabled="false">
   <parameter name="env" value="stagingurl"></parameter>
    <classes>
      <class name="test.mousehower_click_test"/>
    </classes>
  </test> 
   <test name="test.Datapicker_test" enabled="false">
   <parameter name="env" value="stagingurl"></parameter>
    <classes>
      <class name="test.Datapicker_test"/>
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
